<header id="header" class="parent justify-spaceBetween">
  <div class="inner w100 relative">
    <span class="f-left">  
      <a href="{{ site.baseurl }}">
        <h1>
          <span>emmanuel</span>Renaux
        </h1>
      </a>
    </span>
    
      
      


    <span id="nav-links" class="absolute right bottom">
      <!-- Nav pages -->
      
      {% assign pages = site.pages | sort:"weight"  %}
      {% for p in pages %}
        
        {% if p.layout == "page" %}
        
          {% if page.url == p.url %}
        
            <a href="{% if site.baseurl == "/" %}{{ p.url }}{% else %}{{ p.url | prepend: site.baseurl }}{% endif %}" title="{{ p.title }}" class="current">{{ p.title }}</a>
          {% else %}
            <a href="{% if site.baseurl == "/" %}{{ p.url }}{% else %}{{ p.url | prepend: site.baseurl }}{% endif %}" title="{{ p.title }}">{{ p.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
        
          {% if page.url == "/blog/" or page.type =="Article" %}
      <a href="/blog/index.html" class="current" title="blog">blog</a>
        {% else %}
        <a href="/blog/index.html" title="blog">blog</a>
        {% endif %}
      <!-- Nav links -->
      {% include link.html %}

    </span>
  </div>
</header>



